<%= render 'layouts/title', title_name: "Menu" %>
<div class = "row">
  <div class = "col-md-12">
    <h2>Database functions</h2>
    <%= link_to "new entry", new_mobject_path, class: "btn btn-default" %>
    <%= link_to "search","static_pages/search", class: "btn btn-default" %>
    <%= link_to "loan","", class: "btn btn-default" %>
  </div>
</div>

<div class = "row">  
  <div class = "col-md-12">
    <h2>Administration</h2>
    <%= link_to "edit termlist", 'static_pages/choose_termlist', class: "btn btn-default"%></button>
    <%= link_to "view last activities","", class: "btn btn-default"%>
    <%= link_to "create backup","", class: "btn btn-default" %>
    <%= link_to "load backup","", class: "btn btn-default" %>
  </div>
</div>
