<%= render 'layouts/title', title_name: "menu" %>
<div class = "row">
  <div class = "col-md-12">
    <h2>database functions</h2>
    <%= link_to "new entry", new_museum_object_path, class: "btn btn-primary" %>
    <%= link_to "search", museum_objects_search_path, class: "btn btn-primary" %>
    <%= link_to "loan",loan_outs_path, class: "btn btn-primary" %>
  </div>
</div>

<div class = "row">  
  <div class = "col-md-12">
    <h2>administration</h2>
    <%= link_to "import termlists",import_termlists_select_path, class: "btn btn-primary"%></button>
    <% link_to "manage termlists", '/admin', class: "btn btn-primary" %>
    <%= link_to "view last activities","", class: "btn btn-primary disabled"%>
    <% link_to "manual backup","", class: "btn btn-primary disabled" %>
    <% link_to "load backup","", class: "btn btn-primary disabled" %>
  </div>
</div>
