<%= render 'layouts/title', title_name:t('add new object') %>
<div class="row">
  <div class="col">
    <%= render 'layouts/new_entry_progress_bar', state: step_name %>
  </div>
</div>
<div class="row mt-4 justify-content-between">
  <div class="col-4">
    <%= yield %>
    <%= link_to t('back'), previous_wizard_path, class: "btn" %>
    <%= link_to t('skip and finish'), wizard_path(:step_confirm), class: "btn" %>
  </div>
  <div class="col-auto">
    <div class="row">
      <%= render "layouts/museum_object_card", museum_card: @museum_object.decorate, variant: @variant %>
      <% #end %>
    </div>
  </div>
</div>
