<% flash.each do |key, value| %>
  <% if value.is_a? Hash %>
    <% value.each do |nested_key, nested_value| %>
      <div class="alert alert-<%= key %>"><%= nested_value %></div>
    <% end %>
  <% else %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% end %>
<% unless @museum_object.nil? %>
  <% @museum_object.errors.each do |field, error| %>
    <div class="alert alert-warning"><%= field.to_s.humanize capitalize: false %> <%= error %></div>
  <% end %>
<% end %>
