<div class="col">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('inv_number') %></th>
        <th><%= t('borrower') %></th>
        <th><%= t('date_of_loan') %></th>
        <th><%= t('document_number') %></th>
        <th><%= t('planned_return') %></th>
        <th><%= t('return_date') %></th>
      </tr>
    </thead>
    <% loan_outs.each do |o| %>
      <tbody>
        <% warn_class = "" %>
        <% if o.overdue? %>
          <% warn_class = "table-warning" %>
        <% end %>
        <tr class="search-result-row <%= warn_class %>" data-link="<%= loan_out_path(o) %>">
          <td><%= o.museum_object.decorate.full_inv_number %></td>
          <td><%= o.to_institution %></td>
          <td><%= o.date_out %></td>
          <td><%= o.loan_document_number %></td>
          <td><%= o.planned_return %></td>
          <td><%= o.return_date.present? ? o.return_date : "not yet returned" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
