<div class="card">
  <%= museum_card&.top_image %>
  <div class="card-body">
    <h5 class="card-title"><%= museum_card&.name %></h5>
    <div class="card-text">
      <%= museum_card.basic_object_properties %>
    </div>
    <div class="card-text">
      <%= museum_card&.storage&.name %> <%= museum_card&.storage_location&.name %>
    </div>
  </div>
  <div class="card-body">
    <%= museum_card.links variant %>
  </div>
</div>
