<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <%= image_tag "DOJAM_Logo.png" %>
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><%= link_to t('home'), root_path, class: "nav-link" %></li>
    <% if policy(:admin_links).show? %>
      <li class="nav-item"><%= link_to t('administration'), admin_root_path, class: "nav-link", data: {turbolinks: false} %></li>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <% if signed_in? %>
      <%= render 'layouts/language_selector', base_url: '/users/switch_locale' %>
      <li class="nav-item"><%=link_to current_user.email, edit_user_registration_path(current_user), class: "nav-link" %></li>
      <li class="nav-item"><span class="navbar-text"><%= link_to t('sign_out'), destroy_user_session_path, method: :delete %></span></li>
    <% else %>
      <%= render 'layouts/language_selector', base_url: '/users/sign_in' %>
    <% end %>
  </ul>
</nav>
