<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <%= image_tag "DOJAM_Logo.png" %>
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><%= link_to t('home'), root_path, class: "nav-link" %></li>
    <% if current_user.has_extended_access? %>
      <li class="nav-item"><%= link_to t('administration'), admin_root_path, class: "nav-link", data: {turbolinks: false} %></li>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <% if current_user.present? %>
      <li class="nav-item"><span class="navbar-text"><%= current_user.email %></span></li>
    <li class="nav-item dropdown">
      <% lang = [{short: "en", name: t('english')}, {short: "ar", name: t('arabic')}] %>
      <% if current_user.locale == "ar" %>
        <% lang = lang.reverse %>
      <% end %>
      <a class="nav-link dropdown-toggle" href="/users/switch_locale?locale=<%= lang.first[:short] %>" id="lang_selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flag-icon elag-icon-<%= lang.first[:short] %>"> </span><%= lang.first[:name] %></a>
      <div class="dropdown-menu" aria-labelledby="lang_selector">
        <a class="dropdown-item" href="/users/switch_locale?locale=<%= lang.second[:short] %>"><span class="flag-icon flag-icon-<%= lang.second[:short] %>"> </span><%= lang.second[:name] %></a>
      </div>
    </li>
    <% end %>
    <li class="nav-item"><span class="navbar-text"><%= link_to t('sign out'), destroy_user_session_path, method: :delete %></span></li>
  </ul>
</nav>
