<div class="search-results">
  <%= paginate results unless results.blank? %>
  <div class="row mb-4">
    <div class="col">
      <%= results&.total_count&.to_s || t('0') %> <%= t('results') %>
    </div>
    <% if results.present? %>
      <div class="col-auto">
        <%= render 'layouts/export_pdf_button', export_ids: @all_results_ids %>
      </div>
    <% end %>
  </div>
  <%= render 'layouts/search_results_as_cards' unless results.blank? %>
</div>
