<div class="col">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('inv. no.') %></th>
      <th><%= t('storage') %></th>
      <th><%= t('detailed location') %></th>
      <th><%= t('materials') %></th>
      <th><%= t('materials specified') %></th>
      <th><%= t('kind of object') %></th>
      <th><%= t('kind of object specified') %></th>
      <% if @termlists.present? %>
        <th><%= t('matched by') %></th>
      <% end %>
    </tr>
  </thead>
  <% @museum_objects.each.with_index do |o,i| %>
    <tbody>
      <tr class="search-result-row" data-link="<%= museum_object_path(o) %>">
        <td><%= o.full_inv_number %></td>
        <td><%= o.storage&.name %></td>
        <td><%= o.storage_location&.name %></td>
        <td><%= o.materials_decorated %></td>
        <td><%= o.material_specifieds_decorated %></td>
        <td><%= o.kind_of_object&.name %></td>
        <td><%= o.kind_of_object_specified&.name %></td>
        <% if @termlists.present? %>
          <td> <%= @termlists[i].class.to_s.humanize.downcase + " - " +@termlists[i].name %>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>
</div>
