<div class="museum_object_page museum_object_provenance">
  <h2>provenance</h2>
  <%= link_to t('edit'), wizard_path(:step_provenance) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt>site name</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.excavation_site&.name %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>other site name</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.name_expedition %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>site number (MEGA)</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.site_number_mega %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>site number (expedition)</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.site_number_expedition %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>coordinates (MEGA)</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.coordinates_mega %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>kind of site</dt>
      </div>
			<div class="col">
				<dd>
				<%= @museum_object&.excavation_site_category&.name %>; 
				<%= @museum_object&.excavation_site_kind&.name %>
				</dd>
			</div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>finding context</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.finding_context %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>remarks</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.finding_remarks %>
      </div>
    </div>
  </dl>

</div>
