<div class="museum_object_page museum_object_decoration_inscription">
  <h2>decoration/inscription</h2>
  <%= link_to "edit", wizard_path(:step_decoration) %>
  <dl class="dl-horizontal">

    <div class="row">
      <div class="col-3">
        <dt>styles</dt>
      </div> 
      <div class="col"> 
        <% @museum_object.decoration_styles&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt>techniques</dt>
      </div> 
      <div class="col"> 
        <% @museum_object.decoration_techniques&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt>colors</dt>
      </div> 
      <div class="col"> 
        <% @museum_object.decoration_colors&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt>Munsell color</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object.munsell_color %></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt>letters of inscription</dt>
      </div> 
      <div class="col"> 
        <% @museum_object.inscription_letters&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt>languages of inscription</dt>
      </div> 
      <div class="col"> 
        <% @museum_object.inscription_languages&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>inscription text</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object.inscription_text %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>inscription translation</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object.inscription_translation %></dd>
      </div>
    </div>
    
  </dl>
</div>
