<div class="museum_object_page museum_object_acquisition">
  <h2><%= t('acquisition') %></h2>
  <%= link_to t('edit'), wizard_path(:step_acquisition) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt><%= t('kind_of_acquisition') %></dt>
      </div>
    <div class="col">
        <dd><%= t @museum_object&.acquisition_kind&.name %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt><%= t('delivered_by') %></dt>
      </div>  
      <div class="col">
        <dd><%= t @museum_object&.acquisition_delivered_by&.name %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt><%= t('name_of_deliverer') %></dt>
      </div>  
      <div class="col">
        <dd><%= t @museum_object&.acquisition_deliverer_name %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt><%= t('acquisition_date') %></dt>
      </div>
      <div class="col">
        <dd><%= t @museum_object&.acquisition_date %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt><%= t('no_of_acquisition_document') %></dt>
      </div>  
      <div class="col">
        <dd><%= t @museum_object&.acquisition_document_number %></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('remarks') %></dt>
      </div>  
      <div class="col">
        <dd><%= t @museum_object&.remarks_acquisition %></dd>
      </div>
    </div>
  </dl>
</div>
