<div class="museum_object_page museum_object_dating_remarks_literature">
  <h2><%=t('dating') + '/' + t('description') + '/' + t('literature') %></h2>
  <%= link_to t('edit'), wizard_path(:step_dating) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt><%= t('period') %></dt>
      </div>
      <div class="col">
        <dd><%= t @museum_object&.dating_period_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('millennium') %></dt>
      </div>
      <div class="col">
				<dd><%= t @museum_object&.dating_millennium %>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('years') %></dt>
      </div>
      <div class="col">
        <dd><%= t @museum_object&.dating_timespan %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('centuries') %></dt>
      </div>
			<div class="col">
				<dd><%= t @museum_object&.dating_century %> </dd>
			</div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('description') %></dt>
      </div>
      <div class="col">
        <dd><%= t @museum_object&.remarks %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('literature') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.literature %></dd>
      </div>
    </div>
    
  </dl>
</div>
