<div class="museum_object_page museum_object_measurements">
  <h2><%= t('measurements') %></h2>
  <%= link_to t('edit'), wizard_path(:step_measurements) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt><%= t('max. length') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.max_length_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('max. width') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.max_width_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('height') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.height_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('opening dm') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.opening_dm_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('bottom dm') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.bottom_dm_decorated %></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('max. dm') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.max_dm_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('weight (gram)') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.weight_in_gram_decorated %></dd>
      </div>
    </div>
    
  </dl>
</div>
