<div class="museum_object_page museum_object_authenticity">
  <h2><%= t('authenticity') %></h2>
  <%= link_to t('edit'), wizard_path(:step_authenticity) %>
  <dl class="dl-horizontal">
  
    <div class="row">
      <div class="col-3">
        <dt><%= t('authenticity') %></dt>
      </div>
      <div class="col">
        <dd><%= t @museum_object&.authenticity&.name %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('priority') %></dt>
      </div>
      <div class="col">
        <dd><%= t @museum_object&.priority&.name %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('priority determined by') %></dt>
      </div>
      <div class="col">
        <dd><%= t @museum_object&.priority_determined_by %></dd>
      </div>
    </div>
  </dl>
</div>
