<div class="museum_object_page museum_object_acquisition">
  <h2>acquisition</h2>
  <%= link_to "edit", wizard_path(:step_acquisition) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt>kind of acquisition</dt>
      </div>
    <div class="col">
        <dd><%= @museum_object&.acquisition_kind&.name %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>delivered by</dt>
      </div>  
      <div class="col">
        <dd><%= @museum_object&.acquisition_delivered_by&.name %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>name of deliverer</dt>
      </div>  
      <div class="col">
        <dd><%= @museum_object&.acquisition_deliverer_name %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>acquisition date</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.acquisition_date %></dd>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>no. of acquisition document</dt>
      </div>  
      <div class="col">
        <dd><%= @museum_object&.acquisition_document_number %></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt>remarks</dt>
      </div>  
      <div class="col">
        <dd><%= @museum_object&.remarks_acquisition %></dd>
      </div>
    </div>
  </dl>
</div>
