<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="storage_tab" data-toggle="tab" href="#storage" role="tab" aria-controls="storage" aria-selected="true">storage</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="acquisition_tab" data-toggle="tab" href="#acquisition" role="tab" aria-controls="acquisition" aria-selected="false">acquisition</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="provenance_tab" data-toggle="tab" href="#provenance" role="tab" aria-controls="provenance" aria-selected="false">provenance</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="material_tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="false">material</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="decoration_inscription_tab" data-toggle="tab" href="#decoration_inscription" role="tab" aria-controls="decoration_inscription" aria-selected="false">decoration/inscription</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="measurements_tab" data-toggle="tab" href="#measurements" role="tab" aria-controls="measurements" aria-selected="false">measurements</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="authenticity_tab" data-toggle="tab" href="#authenticity" role="tab" aria-controls="authenticity" aria-selected="false">authenticity</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="preservation_conservation_tab" data-toggle="tab" href="#preservation_conservation" role="tab" aria-controls="preservation_conservation" aria-selected="false">preservation/conservation</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="dating_remarks_literature_tab" data-toggle="tab" href="#dating_remarks_literature" role="tab" aria-controls="dating_remarks_literature" aria-selected="false">dating/remarks/literature</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="images_tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">images</a>
  </li>

</ul>
<div class="row">
  <div class="col">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="storage" role="tabpanel" aria-labelledby="storage_tab">
        <%= render 'layouts/show_museum_object_storage'%>
      </div>
      
      <div class="tab-pane fade" id="acquisition" role="tabpanel" aria-labelledby="acquisition_tab">
        <%= render 'layouts/show_museum_object_acquisition'%>
      </div>
      
      <div class="tab-pane fade" id="provenance" role="tabpanel" aria-labelledby="provenance_tab">
        <%= render 'layouts/show_museum_object_provenance'%>
      </div>
      
      <div class="tab-pane fade" id="material" role="tabpanel" aria-labelledby="material_tab">
        <%= render 'layouts/show_museum_object_material'%>
      </div>
      
      <div class="tab-pane fade" id="decoration_inscription" role="tabpanel" aria-labelledby="decoration_inscription_tab">
        <%= render 'layouts/show_museum_object_decoration_inscription'%>
      </div>
      
      <div class="tab-pane fade" id="measurements" role="tabpanel" aria-labelledby="measurements_tab">
        <%= render 'layouts/show_museum_object_measurements'%>
      </div>
      
      <div class="tab-pane fade" id="authenticity" role="tabpanel" aria-labelledby="authenticity_tab">
        <%= render 'layouts/show_museum_object_authenticity'%>
      </div>
      
      <div class="tab-pane fade" id="preservation_conservation" role="tabpanel" aria-labelledby="preservation_conservation_tab">
        <%= render 'layouts/show_museum_object_preservation_conservation'%>
      </div>
      
      <div class="tab-pane fade" id="dating_remarks_literature" role="tabpanel" aria-labelledby="dating_remarks_literature_tab">
        <%= render 'layouts/show_museum_object_dating_remarks_literature'%>
      </div>
      
      <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images_tab">
        <%= render 'layouts/show_museum_object_images'%>
      </div>
    </div> <%# tab-content %>
  </div> <%# col %>

  <div class="col col-md-auto">
    <%= render 'layouts/museum_object_card', museum_card: @museum_object.decorate, variant: @variant %>
  </div>
</div> <%# row %>
