<div class="museum_object_page museum_object_material">
  <h2><%= t('material') %></h2>
  <%= link_to t('edit'), wizard_path(:step_material) %>
  <dl class="dl-horizontal">
		<div class="row">
			<div class="col-3">
				<dt><%= t('material') %></dt>
			</div>
			<div class="col">
				<% @museum_object.materials_with_specifieds.each do |m_ms| %>
					<dd><%= m_ms %></dd>
				<% end %>
			</div>
		</div>
    
    <div class="row">
      <div class="col-3">
        <dt><%= t('kind_of_object') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.kind_of_object&.name || t('undetermined') %> (<%= @museum_object&.kind_of_object_specified&.name || t('undetermined') %>)
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt><%= t('colors') %></dt>
      </div> 
      <div class="col"> 
        <% @museum_object&.colors&.uniq.each do |m| %>
          <div class="">
            <dd><%= m&.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('munsell_color') %></dt>
      </div>  
      <div class="col">
        <dd> <%= @museum_object&.munsell_color_decorated %> </dd>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('production_techniques') %></dt>
      </div> 
      <div class="col"> 
        <% @museum_object.production_techniques&.each do |p| %>
          <div class="">
            <dd><%= p.name %></dd>
          </div>
        <% end %>
      </div>
    </div>
    
  </dl>
</div>
