<div class="museum_object_page museum_object_decoration_inscription">
  <h2><%= t('decoration') + '/' + t('inscription') %></h2>
  <%= link_to t('edit'), wizard_path(:step_decoration) %>
  <dl class="dl-horizontal">

    <div class="row">
      <div class="col-3">
        <dt><%= t('styles') %></dt>
      </div> 
      <div class="col"> 
        <% @museum_object.decoration_styles&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('techniques') %></dt>
      </div> 
      <div class="col"> 
        <% @museum_object.decoration_techniques&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('colors') %></dt>
      </div> 
      <div class="col"> 
        <% @museum_object.decoration_colors&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('Munsell color') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object.munsell_color %></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('script(s)') %></dt>
      </div> 
      <div class="col"> 
        <% @museum_object.inscription_letters&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <dt><%= t('language(s)') %></dt>
      </div> 
      <div class="col"> 
        <% @museum_object.inscription_languages&.each do |d| %>
          <div class="">
            <dd><%= d.name %></dd>
          </div>
        <% end %>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('transliteration') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object.inscription_text %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt><%= t('translation') %></dt>
      </div>
      <div class="col">
        <dd><%= @museum_object.inscription_translation %></dd>
      </div>
    </div>
    
  </dl>
</div>
