<h1>users</h1>
<% @users.each do |user| %>
  <table>
    <tr>
      <th><%= t('email') %></th>
      <th><%= t('activated?') %></th>
      <th><%= t('expanded access?') %></th>
      <th><%= t('reset password') %></th>
    </tr>

    <tr>
      <td><%= user.email %></td>
    </tr>
  </table>
<% end %>
