<%= render 'layouts/title', title_name: "CONFIRM" %>

<%= render 'layouts/new_entry_progress_bar', state: 'confirm' %>

<%= render 'layouts/show_museum_object'%>

<div class="col-xs-1">
  <%= button_to "Confirm", class: "btn btn-primary" %>
</div>
<div class="col-xs-1">
  <%= link_to "Edit", edit_museum_object_path, class: "btn btn-primary" %>
</div>
