<%= render "layouts/build_steps_layout", step_name: @step do %>
	<%= simple_form_for @museum_object, data:{parsley_validate:""}, url: wizard_path do |f| %>
    <%= f.association :termlist_dating_period, collection: @dating_periods, as: :termlist_select, label: "period", include_blank: true, required: true, class: "form-control" %>
    <%= f.association :termlist_dating_millennium, collection: @dating_millennia, as: :termlist_select, label: "millennium", include_blank: true, required: true, class: "form-control" %>
    <%= f.association :termlist_dating_centuries, collection: @dating_centuries, label: "centuries", class: "form-control" %>
    <%= f.label "", "timespan" %>
    <div class="form-group row">
      <div class="input-group col">
        <%= f.input_field :dating_timespan_begin, label: false,
                     discard_day: true, 
                     discard_month: true,
                     as: :string, value: f.object&.dating_timespan_begin&.strftime("%Y"), class: "form-control col" %>
        <%= f.input_field :is_dating_timespan_begin_BC, as: :select, :collection => [['BC',true],['AD',false]], class: "form-control select col-5" %>
      </div>
      <span class="form-control-static col-0">_</span>
      <div class="input-group col">
        <%= f.input_field :dating_timespan_end, label: false,
                     discard_day: true, 
                     discard_month: true,
                     as: :string, value: f.object&.dating_timespan_end&.strftime("%Y"), class: "form-control col"%>
        <%= f.input_field :is_dating_timespan_end_BC, as: :select, :collection => [['BC',true],['AD',false]], class: "form-control select col-5" %>
      </div>
    </div>
    
    <%= f.button :submit, "next step" %>
  <% end %>
<% end %>

