<%= render "layouts/build_steps_layout", step_name: @step do %>
	<%= simple_form_for @museum_object, data:{parsley_validate:""}, url: wizard_path do |f| %>
    <%= f.label "", "period" %>
		<div class="input-group row">
			<div class="input-group col">
				<%= f.association :dating_period, collection: @dating_periods, as: :select, label: false, include_blank: true, required: true %>
				<%= f.input :is_dating_period_unknown, label: "unknown" %>
			</div>
		</div>
		<%= f.label  "", "millennium" %>
		<div class="input-group row">
			<div class="input-group col">
				<%= f.association :dating_millennium_begin, collection: @dating_millennia, as: :select, label: false, include_blank: true, required: true, class: "form-control col", html: {type: "number"} %>
				<% f.input_field :is_dating_millennium_begin_bc, as: :select, :collection => [['BC', true], ['AD', false]], class: "form-control select col-5" %>
			</div>
			<span class="form-control-static col-0">_</span>
			<div class="input-group col">
				<%= f.association :dating_millennium_end, collection: @dating_millennia, as: :select, label: false, include_blank: true, required: true, class: "form-control col" %>
				<% f.input_field :is_dating_millennium_end_bc, as: :select, :collection => [['BC', true], ['AD', false]], class: "form-control select col-5" %>
			</div>
		</div>
			<%= f.input :is_dating_millennium_unknown, label: "unknown" %>
    <%= f.label "", "timespan" %>
    <div class="form-group row">
      <div class="input-group col">
        <%= f.input_field :dating_timespan_begin, label: false,
                     discard_day: true, 
                     discard_month: true,
                     as: :string, value: f.object&.dating_timespan_begin&.strftime("%Y"), class: "form-control col" %>
        <%= f.input_field :is_dating_timespan_begin_BC, as: :select, :collection => [['BC',true],['AD',false]], class: "form-control select col-5" %>
      </div>
      <span class="form-control-static col-0">_</span>
      <div class="input-group col">
        <%= f.input_field :dating_timespan_end, label: false,
                     discard_day: true, 
                     discard_month: true,
                     as: :string, value: f.object&.dating_timespan_end&.strftime("%Y"), class: "form-control col"%>
        <%= f.input_field :is_dating_timespan_end_BC, as: :select, :collection => [['BC',true],['AD',false]], class: "form-control select col-5" %>
      </div>
    </div>
		<%= f.input :is_dating_timespan_unknown, label: "unknown" %>
    
    <%= f.button :submit, "next step" %>
  <% end %>
<% end %>

