<%= render 'layouts/title', title_name: "add new object" %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>
<div class="row">
  <div class="col-md-2">
    <%= simple_form_for @museum_object, url: wizard_path do |f| %>
      <%= f.association :termlist_preservation_material, collection: @preservation_materials, label: "preservation of material", as: :collection_select, include_blank: true  %>
       <%= f.association :termlist_preservation_object, collection: @preservation_objects, label: "preservation of object", as: :collection_select, include_blank: true  %>
      <%= f.submit "next step", method: :get, class: "btn btn-primary" %></p>
      <%= link_to "back", previous_wizard_path, class: "btn" %> 
      <%= f.button :button, "finish", type: "submit", name: "finish", value: "true" %>
    <% end %>
  </div>
</div>

