<%= render 'layouts/title', title_name: "Add new Object" %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>

<%= render 'layouts/show_museum_object' %>

<div class="row">
  <div class="col-xs-1">
    <%= simple_form_for @museum_object, url: wizard_path, method: 'put' do |f| %>
      <%= f.button :submit, "confirm" %>
    <% end %>
  </div>
  <div class="col-xs-1">
    <% link_to "Edit", edit_museum_object_path, class: "btn btn-primary" %>
  </div>
</div>
