<%= render 'layouts/title', title_name: "Add new Object" %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>

<div class="col-md-3">
<%= simple_form_for @museum_object, url: wizard_path do |f| %>
  <h3>Inscription</h3>
  <%= f.input :inscription_decoration, label: "decoration/inscription" %>
  <%= f.input :inscription_letters, label: "letters of inscription" %>
  <%= f.input :inscription_text, label: "text of inscription" %>
  <%= f.input :inscription_translation, label: "translation of inscription" %>
  
  <div class="submit">
  <%= f.submit "Next Step", class: "btn btn-primary" %>
  </div>
  
<% end %>
</div>
