<%= render 'layouts/title', title_name: "add new object" %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>

<div class="col-md-3">
<%= simple_form_for @museum_object, url: wizard_path, method: 'put' do |f| %>
  <%= f.association :termlist_acquisition_kind, label: "kind of acquisition", include_blank: false %>
  <%= f.association :termlist_acquisition_delivered_by, label: "delivered by", include_blank: false %>
  <%= f.input :acquisition_deliverer_name, label: "name of deliverer" %>
  <%= f.input :acquisition_date, label: "date of acquisition", as: :date, start_year: Date.new(1900).year %>
  <%= f.input :is_acquisition_date_exact, label: "month/day specified" %>
  
  <%= f.submit "next step", class: "btn btn-primary" %>
  
<% end %>
</div>
