<%= render 'layouts/title', title_name: "add new object" %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>
<div class="row">
  <div class="col-md-2">
    <%= simple_form_for @museum_object, url: wizard_path do |f| %>
        <%= f.association :termlist_colors, collection: @colors, label: "", as: :check_boxes, include_blank: false  %>
        <div class="submit">
        <%= f.submit "next step", method: :get, class: "btn btn-primary" %>
        </div>
        <%= link_to "back", previous_wizard_path, class: "btn" %> 
        <%= link_to "finish", wizard_path(:step_confirm), class: "btn" %>
    <% end %>
  </div>
</div>
