<%= render 'layouts/title', title_name: "add new object" %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>
<div class="row">
  <div class="col-md-2">
    <%= simple_form_for @museum_object, url: wizard_path do |f| %>
      <%= f.association :termlist_kind_of_object, collection: @kind_of_objects, label: "", as: :collection_select, include_blank: false, :label_method => lambda { |kind| "#{kind.name} | #{kind.termlist_material_specified.name}"}  %>
      <%= f.submit "next step", method: :get, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

