<%= render 'layouts/title', title_name: "add new object" %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>
<div class="row">
  <div class="col-md-2">
    <%= simple_form_for @museum_object, url: wizard_path do |f| %>
      <% @materials.each do |m| %>
        <%= f.association :termlist_material_specifieds, collection: m.termlist_material_specifieds, label: m.name,  include_blank: false  %>
      <% end %>
      <%= f.submit "next step", method: :get, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

