<div class="container">
  <div class="row mb-4">
    <div class="col text-right">
      <%= wicked_pdf_image_tag 'doa_logo.gif' %>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center">
      <%= wicked_pdf_image_tag 'not_available_image', class: 'rounded mx-auto d-block' %>
    </div>
    <div class="col">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td>
              <h6>
                <strong>type</strong>
              </h6>
              <span>ceramic vessel</span>
            </td>
          </tr>
          <tr>
            <td>
              <h6>
                <strong>measurements</strong>
              </h6>
              <span>23x12x6cm</span>
            </td>
          </tr>
          <tr>
            <td>
              <h6>
                <strong>color</strong>
              </h6>
              <span>dark red</span>
            </td>
          </tr>
          <td>
            <h6>
              <strong>description</strong>
            </h6>
            <span>"chotecolate on white" pottery flask with two loop handles, decorated with brown bands and circles</span>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <h4>general informations</h4>
  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <td>
          <h6>
            <strong>museum</strong>
          </h6>
          <span>Jordan Archaeological Museum</span>
        </td>
      </tr>
      <tr>
        <td>
          <h6>
            <strong>museum inventory number</strong>
          </h6>
          <span>J.10080</span>
        </td>
      </tr>
      <tr>
        <tr>
          <td>
            <h6>
              <strong>authenticity</strong>
            </h6>
            <span>archaeological object</span>
          </td>
        </tr>
    </tbody>
  </table>

  <h4>additional images</h4>
  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <td>
          <%= wicked_pdf_image_tag 'not_available_image', class: 'img-thumbnail' %>
          <%= wicked_pdf_image_tag 'not_available_image', class: 'img-thumbnail' %>
          <%= wicked_pdf_image_tag 'not_available_image', class: 'img-thumbnail' %>
          <%= wicked_pdf_image_tag 'not_available_image', class: 'img-thumbnail' %>
          <%= wicked_pdf_image_tag 'not_available_image', class: 'img-thumbnail' %>
          <%= wicked_pdf_image_tag 'not_available_image', class: 'img-thumbnail' %>
          <%= wicked_pdf_image_tag 'not_available_image', class: 'img-thumbnail' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
