<%= render 'layouts/title', title_name: "Search" %>

<div class="row">
  <div class="col-2">
    <div class="row">
      <div class="col">
        <%= form_tag(museum_objects_search_result_invnumber_path, method: "get") do %>
          <div class="form-group">
            <%= label_tag(:inv_number_search, "inventory number") %>
            <%= text_field_tag :inv_number_search, nil, placeholder: "J.0000-0", class: "form-control", required: true %>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div class="form-group">
          <%= form_tag(museum_objects_search_path, method: "get") do %>
            <%= label_tag(:search_query, "fulltext") %>
            <%= text_field_tag :fulltext_search, "", class: "form-control" %>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div class="form-group">
          <%= form_tag(museum_objects_search_form_path, method: "get") do %>
            <%= label_tag(:form_search, "form search") %>
            <%= hidden_field_tag "form_search", "true" %>
            <%= select_tag :material_specified_id, options_for_select(MaterialSpecified.all.map{|m| [m.name, m.id]}), class: "form-control" %>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-8 align-self-center">
    <% if @results.present? %>
      <%= render 'layouts/search_results', results: @results %>
    <% end %>
  </div>
</div>
