<%= render 'layouts/title', title_name: "Search" %>

<div class="row">
  <div class="col-2">
    <div class="row">
      <div class="col">
        <%= form_tag(museum_objects_search_result_invnumber_path, method: "get") do %>
          <div class="form-group">
            <%= label_tag(:inv_number_search, "inventory number") %>
            <%= text_field_tag :inv_number_search, nil, placeholder: "J.0000-0", class: "form-control", required: true %>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div class="form-group">
          <%= form_tag(museum_objects_search_path, method: "get") do %>
            <%= label_tag(:search_query, "fulltext") %>
            <%= text_field_tag :fulltext_search, "", class: "form-control" %>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div class="form-group">
          <%= form_tag(museum_objects_search_form_path, method: "get", remote: true) do %>
            <%= label_tag(:form_search, "form search") %></p>
            <%= hidden_field_tag "form_search", "true" %>
            <%= link_to "add", museum_objects_add_search_field_path, class: "form-search-add" %>
            <%= select_tag :selected_term, options_for_select(Termlist.list_types_humanized), class: "form-control" %>
            <div class="search_form_fields">
            </div>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-8 align-top">
      <%= render 'layouts/search_results', results: @results %>
  </div>
</div>
