<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<%= hidden_field_tag :selected_materials %>
	<%= hidden_field_tag :selected_material_specifieds %>
	<%= hidden_field_tag :selected_kind_of_objects %>
	<%= hidden_field_tag :selected_kind_of_object_specifieds %>
	<% @materials.each do |material| %>
		<div class="row">
			<div class="col-1">
				<a class="btn" data-toggle="collapse" href="#collapse-material-<%= material.id %>" role="button" aria-expanded="false" aria-controls="collapse-material-<%= material.id %>">
					*
				</a>
			</div>
				<div class="col-2 material_termlist_select btn btn-light" data-level="material" data-termlist-id="<%= material.id %>" data-selected="false">
					<div><%= material.name %></div>
				</div>
		</div>
		<div class="row collapse" id="collapse-material-<%= material.id %>">
			<% material.termlist_material_specifieds.each do |material_spec| %>
				<div class="row">
					<div class="col-1">
					</div>
					<div class="col-1">
						<a class="btn" data-toggle="collapse" href="#collapse-material-specified-<%= material_spec.id %>" role="button" aria-expanded="false" aria-controls="collapse-material-specified-<%= material_spec.id %>">
							*
						</a>
					</div>
					<div class="col-2 material_specified_termlist_select btn btn-light" data-level="material_specified" data-termlist-id="<%= material_spec.id %>" data-selected="false">
							<div><%= material_spec.name %></div>
						</div>
				</div>
			<% end %>
		</div>
	<% end %>

  <% page.attributes.each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
