<%= render 'layouts/title', title_name: "Search" %>

<div class="col-md-3">
  <%= form_tag(museum_objects_path, method: "get") do %>
    <%= label_tag(:search_query, "inventory number") %>
    <%= text_field_tag :search_query %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
