<%= render 'layouts/title', title_name: "Search" %>

<div class="row">
	<div class="col-3">
		<div class="form-group">
			<%= form_tag(museum_objects_path, method: "get") do %>
				<%= label_tag(:inv_number_search, "inventory number") %>
				<%= text_field_tag :inv_number_search, nil, placeholder: "J.0000-0", class: "form-control" %>
		</div>
		<%= submit_tag "Search", class: "btn btn-primary" %>
	<% end %>
	</div>
</div>

<% if false %>
<div class="row mt-5">
	<div class="col-3">
			<div class="form-group">
				<%= form_tag(museum_objects_path, method: "get") do %>
					<%= label_tag(:search_query, "fulltext") %>
					<%= text_field_tag :fulltext_search, "", class: "form-control" %>
			</div>
			<%= submit_tag "Search", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
<% end %>
