<%= render 'layouts/title', title_name: @loan_out.museum_object.decorate.full_inv_number %>
<div class="row">
  <div class="col">
    <h2>loan information</h2>
    <dl>
      <dt><%= t('loan_to_institution') %></dt>
      <dd><%= @loan_out.to_institution %></dd>

      <dt><%= t('name_of_borrower') %></dt>
      <dd><%= @loan_out.borrower_name %></dd>

      <dt><%= t('job_position_of_borrower') %></dt>
      <dd><%= @loan_out.borrower_job_title %></dd>

      <dt><%= t('date_of_loan') %></dt>
      <dd><%= @loan_out.date_out %></dd>

      <dt><%= t('document_no_of_request') %></dt>
      <dd><%= @loan_out.request_document_number %></dd>

      <dt><%= t('date_of_document') %></dt>
      <dd><%= @loan_out.request_document_date %></dd>

      <dt><%= t('signed_by') %></dt>
      <dd><%= @loan_out.request_document_signed_by %></dd>

      <dt><%= t('name_of_lender') %></dt>
      <dd><%= @loan_out.lender_name %></dd>

      <dt><%= t('job_position_of_lender') %></dt>
      <dd><%= @loan_out.lender_job_title %></dd>

      <dt><%= t('loan_document_no') %></dt>
      <dd><%= @loan_out.loan_document_number %></dd>

      <dt><%= t('condition_of_object') %></dt>
      <dd><%= @loan_out.object_condition %></dd>

      <dt><%= t('date_of_planned_return') %></dt>
      <dd><%= @loan_out.return_date %></dd>
    </dl>
  </div>
  <div class="col">
    <h2>return information</h2>
    <dl>
      <dt><%= t('date_of_return') %></dt>
      <dd><%= @loan_out.return_date %></dd>

      <dt><%= t('document_no_of_return') %></dt>
      <dd><%= @loan_out.return_document_number %></dd>

      <dt><%= t('signed_by') %></dt>
      <dd><%= @loan_out.return_document_signed_by %></dd>

      <dt><%= t('condition_of_object') %></dt>
      <dd><%= @loan_out.return_condition %></dd>

      <dt><%= t('remarks') %></dt>
      <dd><%= @loan_out.return_remarks %></dd>
    </dl>
  </div>
</div>
<%= link_to 'edit', edit_loan_out_path(@loan_out) %> |
<%= link_to 'all loans', loan_outs_path %> |
<%= link_to 'show object', museum_object_path(@loan_out.museum_object) %>
