<%= render 'layouts/title', title_name: t('Add new object') %>
<%= render 'layouts/new_entry_progress_bar', state: @step %>

<%= render 'layouts/show_museum_object' %>

<div class="row">
  <div class="col-xs-1">
    <%= simple_form_for @museum_object, url: wizard_path, method: 'put' do |f| %>
      <%= f.input :is_finished, as: :hidden, input_html: {value: "true"} %>
      <%= f.button :submit, t('confirm') %>
    <% end %>
  </div>
  <div class="col-xs-1">
    <% link_to t('edit'), edit_museum_object_path, class: "btn btn-primary" %>
  </div>
</div>
  <div class="text-right">
    <%= render 'layouts/export_pdf_button' %>
  </div>
