<%= render "layouts/build_steps_layout", step_name: @step do %>
  <%= simple_form_for @museum_object, url: wizard_path do |f| %>
    <%= f.association :excavation_site, label: t('site_name'), include_blank: false  %>
    <%= f.input :name_expedition, label: t('other_site_names') %>
    <%= f.input :site_number_mega, label: t('site_number_according_to_mega') %>
    <%= f.input :site_number_jadis, label: t('site_number_according_to_jadis') %>
    <%= f.input :site_number_expedition, label: t('site_number_according_to_expedition') %>
    <%= f.label "", t('coordinates_of_site_according_to_mega') %>
    <div class="row">
      <div class="col">
        <%= f.input :coordinates_mega_long, label: t('long_e') %>
      </div>
      <div class="col">
        <%= f.input :coordinates_mega_lat, label: t('lat_n') %>
      </div>
    </div>
    <%= f.label "", t('kind_of_site') %>
    <%= f.collection_select(:excavation_site_category_id,
                            @excavation_site_categories,
                            :id,
                            :name,
                            {},
                            {id: "excavation_site_category_selection", class: "form-control select required"}) %>
    <%= f.label "", t('kind_of_site_specified') %>
    <%= f.collection_select(:excavation_site_kind_id,
                            @excavation_site_kinds,
                            :id,
                            :name,
                            {},
                            {id: "excavation_site_kind_selection", class: "form-control select required"} ) %>
    <%= f.input :finding_context, label: t('finding_context_specified') %>
    <%= f.input :finding_remarks, label: t('remarks') %>
    <%= f.button :submit, t('confirm') %>
  <% end %>
<% end %>
