<%= render 'layouts/title', title_name: "add new object" %>
<div class="row">
  <div class="col">
    <%= render 'layouts/new_entry_progress_bar', state: step_name %>
  </div>
</div>
<div class="row mt-4 justify-content-between">
  <div class="col-4">
    <%= yield %>
    <%= link_to "back", previous_wizard_path, class: "btn" %> 
    <%= link_to "skip and finish", wizard_path(:step_confirm), class: "btn" %> 
  </div>
  <div class="col-auto">
    <% unless @museum_object&.termlist_kind_of_object.nil? %>
      <%= render "layouts/museum_object_card", museum_object: @museum_object %>
    <% end %>
  </div>
</div>
