<div class="card">
  <%# museum_card&.top_image %>
  <div class="card-body">
    <h5 class="card-title"><%= museum_card&.inv_number %></h5>
    <p class="card-text">
      <dl class="row">
        <dt class="col-sm-6">
          location
        </dt>
        <dd class="col-sm-6">
          <%= museum_card&.storage_location&.name %>
        </dd>
        
        <dt class="col-sm-6">
          material
        </dt>
        <dd class="col-sm-6">
          <%= museum_card.list_materials %>
        </dd>
        
        <dt class="col-sm-6">
          kind of object
        </dt>
        <dd class="col-sm-6">
          <%= museum_card&.termlist_kind_of_object&.name %>
        </dd>
      </dl>
    </p>
    <%= museum_card.links variant %>
  </div>
</div>
