<div class="museum_object_page museum_object_provenance">
  <h2>provenance</h2>
  <%= link_to "edit", wizard_path(:step_provenance) %>
  <dl class="dl-horizontal">
    <dt>site name</dt>
    <dd><%= @museum_object&.excavation_site&.name %></dd>
    
    <dt>other site name</dt>
    <dd><%= @museum_object&.name_expedition %></dd>
    
    <dt>site number (MEGA)</dt>
    <dd><%= @museum_object&.site_number_mega %></dd>
    
    <dt>site number (expedition)</dt>
    <dd><%= @museum_object&.site_number_expedition %></dd>
    
    <dt>coordinates (MEGA)</dt>
    <dd><%= @museum_object&.coordinates_mega %></dd>
    
    <dt>kind of site</dt>
    <dd><%= @museum_object&.termlist_excavation_site_kind&.name %>:
        <%= @museum_object&.termlist_excavation_site_kind&.termlist_excavation_site_category&.name %></dd>
    <dt>finding context</dt>
    <dd><%= @museum_object&.finding_context %>
    
    <dt>remarks</dt>
    <dd><%= @museum_object&.finding_remarks %>
  </dl>

</div>
