<div class="hidden museum_object_page museum_object_measurements">
  <h2>measurements</h2>
  <%= link_to "edit", wizard_path(:step_measurements) %>
  <dl class="dl-horizontal">
    <dt>remaining length</dt>
      <dd><%= @museum_object&.remaining_length %></dd>
      
    <dt>remaining width</dt>
      <dd><%= @museum_object&.remaining_width %></dd>
      
    <dt>remaining height</dt>
      <dd><%= @museum_object&.remaining_height %></dd>
      
      <dt>remaining opening dm</dt>
      <dd><%= @museum_object&.remaining_opening_dm %></dd>
      
      <dt>remaining bottom dm</dt>
      <dd><%= @museum_object&.remaining_bottom_dm %></dd>
      
      <dt>remaining weight (gram)</dt>
      <dd><%= @museum_object&.remaining_weight_in_gram %></dd>
    
  </dl>
</div>
