<div class="hidden museum_object_page museum_object_description1">
  <h2>DESCRIPTION 1</h2>
  <dl class="dl-horizontal">
    <dt>material</dt>
    <% @museum_object&.termlist_material_specifieds.each do |m| %>
      <dd><%= m.name %> (<%= m.material&.name %>)</dd>
    <% end %>
    
    <dt>inv. number (JAM)</dt>  
    <dd><%= @museum_object&.inv_number %></dd>
    
    <dt>other inv. number</dt>
    <dd><%= @museum_object&.inv_numberdoa %></dd>
    
    <dt>amount of objects</dt>
    <dd><%= @museum_object&.amount %></dd>
    
    <dt>place of storage</dt>
    <dd><%= @museum_object&.storage&.name %></dd>
    
    <dt>place of storage specified</dt>
    <dd><%= @museum_object&.storage_location&.name %></dd>
  </dl>
</div>
