<div class="hidden museum_object_page museum_object_authenticity">
  <h2>authenticity</h2>
  <%= link_to "edit", wizard_path(:step_authenticity) %>
  <dl class="dl-horizontal">
  
    <dt>authenticity</dt>
      <dd><%= @museum_object&.termlist_authenticity&.name %></dd>
      
    <dt>priority</dt>
      <dd><%= @museum_object&.priority %></dd>
      
    <dt>priority determined by</dt>
      <dd><%= @museum_object&.priority_determined_by %></dd>
      
    <dt>remaining height</dt>
      <dd><%= @museum_object&.remaining_height %></dd>
    
  </dl>
</div>
