<div class="museum_object_page museum_object_authenticity">
  <h2>authenticity</h2>
  <%= link_to "edit", wizard_path(:step_authenticity) %>
  <dl class="dl-horizontal">
  
    <div class="row">
      <div class="col-3">
        <dt>authenticity</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.termlist_authenticity&.name %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>priority</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.priority %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>priority determined by</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.priority_determined_by %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>remaining height</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remaining_height %></dd>
      </div>
    </div>
    
  </dl>
</div>
