<div class="museum_object_page museum_object_dating_remarks_literature">
  <h2>dating/remarks/literature</h2>
  <%= link_to "edit", wizard_path(:step_dating) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt>period</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.termlist_dating_period&.name %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>millennium</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.termlist_dating_millennium&.name %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>years</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.dating_timespan_begin %> - <%= @museum_object&.dating_timespan_end %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>centuries</dt>
      </div>
      <% @museum_object&.termlist_dating_centuries.each do |c| %>
        <div class="col">
          <dd><%= c&.name %></dd>
        </div>
      <% end %>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>remarks</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remarks %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>literature</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.literature %></dd>
      </div>
    </div>
    
  </dl>
</div>
