<div class="museum_object_page museum_object_material">
  <h2>material</h2>
  <%= link_to "edit", wizard_path(:step_material) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt>material</dt>
      </div>
      <div class="col">
        <% @museum_object&.material_specifieds.each do |m| %>
          <div class="">
						<dd><%= m.material&.name %> (<%= m.name %>)</dd>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>kind of object</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.kind_of_object&.name %> (<%= @museum_object&.kind_of_object_specified&.name %>)
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>colors</dt>
      </div> 
      <div class="col"> 
        <% @museum_object&.colors.each do |m| %>
          <div class="">
            <dd><%= m&.name %></dd>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <dt>production technique</dt>
      </div>  
      <div class="col">
        <dd> <%= @museum_object&.production_technique&.name %> </dd>
      </div>
    </div>
    
  </dl>
</div>
