<div class="row table-row">
  <div class="col"><%= render 'layouts/show_museum_object_storage'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_acquisition'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_provenance'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_material'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_decoration_inscription'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_measurements'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_authenticity'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_preservation_conservation'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_dating_remarks_literature'%></div>
  <div class="col"><%= render 'layouts/show_museum_object_images'%></div>


</div>

<div class="row"">
  <%= link_to "storage", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_storage" %>
  <%= link_to "acquisition", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_acquisition" %>
  <%= link_to "provenance", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_provenance" %>
  <%= link_to "material", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_material" %>
  <%= link_to "decoration/inscription", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_decoration_inscription" %>
  <%= link_to "measurements", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_measurements" %>
  <%= link_to "authenticity", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_authenticity" %>
  <%= link_to "preservation/conservation", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_preservation_conservation" %>
  <%= link_to "dating/remarks/literature", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_dating_remarks_literature" %>
  <%= link_to "images", 'javascript:void(0)', class: "btn museum_object_page_button", id: "museum_object_images" %>
  
</div>
