<dl class="dl-horizontal">
  <dt>inv. number (<%= mobject.museum.name %>)</dt>
  <dd><%= mobject.full_invnumber %></dd>
  
  <dt>other inv. number</dt>
  <dd><%= mobject.invnumberdoa %></dd>
  
  <dt>amount</dt>
  <dd><%= mobject.amount %></dd>  
</dl>


<h2>ACQUISITION</h2>
<dl class="dl-horizontal">
  <dt>kind of acquisition</dt>
  <dd><%= mobject.acquisition.AcquisitionKind.name %></dd>
  
  <dt>delivered by</dt>
  <dd><%= mobject.acquisition.deliverer_name %></dd>
  
  <dt>acquisition date</dt>
  <dd><%= mobject.acquisition.acquisition_date %></dd>
</dl>


<h2>PROVENANCE</h2>
<dl class="dl-horizontal">
  <dt>kind of site</dt>
  <dd><%= mobject.ex_site.ex_site_kind.name %></dd>
  
  <dt>coordinates</dt>
  <dd><%= mobject.ex_site.coordinates_mega %></dd>
  
  <dt>finding context</dt>
  <dd><%= mobject.ex_site.finding_context %></dd>
</dl>

<div class="row">
  <div class="col-md-4">
    <h3>site name</h3>
    <dl class="dl-horizontal">
      <dt>inv. book</dt>
      <dd><%= mobject.ex_site.name %></dd>
      
      <dt>MEGA Jordan</dt>
      <dd><%= mobject.ex_site.name_mega_jordan %></dd>
      
      <dt>expedition</dt>
      <dd><%= mobject.ex_site.name_expidition %></dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h3>site number</h3>
    <dl class="dl-horizontal">
      <dt>MEGA Jordan</dt>
      <dd><%= mobject.ex_site.site_number_mega %></dd>
      
      <dt>JADIS</dt>
      <dd><%= mobject.ex_site.site_number_jadis %></dd>
      
      <dt>expedition</dt>
      <dd><%= mobject.ex_site.site_number_expidition %></dd>
    </dl>
  </div>
</div>
