<div class="hidden museum_object_page museum_object_acquisition">
  <h2>acquisition</h2>
  <%= link_to "edit", wizard_path(:step_acquisition) %>
  <dl class="dl-horizontal">
    <dt>kind of acquisition</dt>
    <dd><%= @museum_object&.termlist_acquisition_kind&.name %></dd>
    
    <dt>delivered by</dt>  
    <dd><%= @museum_object&.termlist_acquisition_delivered_by&.name %></dd>
    
    <dt>name of deliverer</dt>  
    <dd><%= @museum_object&.acquisition_deliverer_name %></dd>
    
    <dt>acquisition date</dt>
    <dd><%= @museum_object&.acquisition_date %></dd>
    
    <dt>number of acquisition document</dt>  
    <dd><%= @museum_object&.acquisition_document_number %></dd>
  </dl>
</div>
