<div class="museum_object_page museum_object_dating_remarks_literature">
  <h2>dating/remarks/literature</h2>
  <%= link_to "edit", wizard_path(:step_dating) %>
  <dl class="dl-horizontal">
    <dt>period</dt>
      <dd><%= @museum_object&.termlist_dating_period&.name %></dd>
      
    <dt>millennium</dt>
      <dd><%= @museum_object&.termlist_dating_millennium&.name %></dd>
      
      <dt>years</dt>
      <dd><%= @museum_object&.dating_timespan_begin %> - <%= @museum_object&.dating_timespan_end %></dd>
      
    <dt>centuries</dt>
      <% @museum_object&.termlist_dating_centuries.each do |c| %>
        <dd><%= c&.name %></dd>
      <% end %>
      
      <dt>remarks</dt>
      <dd><%= @museum_object&.remarks %></dd>
      
      <dt>literature</dt>
      <dd><%= @museum_object&.literature %></dd>
    
  </dl>
</div>
