<div class="museum_object_page museum_object_measurements">
  <h2>measurements</h2>
  <%= link_to "edit", wizard_path(:step_measurements) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt>max. length</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.max_length_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>max. width</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.max_width_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>height</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.height_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>opening dm</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.opening_dm_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>bottom dm</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.bottom_dm_decorated %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>weight (gram)</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.weight_in_gram_decorated %></dd>
      </div>
    </div>
    
  </dl>
</div>
