<div class="hidden museum_object_page museum_object_decoration_inscription">
  <h2>decoration/inscription</h2>
  <dl class="dl-horizontal">
    <dt>technique</dt>
      <dd><%= @museum_object.termlist_decoration&.name %></dd>
      
    <dt>color</dt>
      <dd><%= @museum_object.termlist_decoration_color&.name %></dd>
      
    <dt>letters of inscription</dt>
      <dd><%= @museum_object.termlist_inscription_letter&.name %></dd>
      
      <dt>language of inscription</dt>
      <dd><%= @museum_object.termlist_inscription_language&.name %></dd>
      
      <dt>inscription text</dt>
      <dd><%= @museum_object.inscription_text %></dd>
      
      <dt>inscription translation</dt>
      <dd><%= @museum_object.inscription_translation %></dd>
    
  </dl>
</div>
