<div class="museum_object_page museum_object_measurements">
  <h2>measurements</h2>
  <%= link_to "edit", wizard_path(:step_measurements) %>
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-3">
        <dt>remaining length</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remaining_length %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>remaining width</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remaining_width %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>remaining height</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remaining_height %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>remaining opening dm</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remaining_opening_dm %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>remaining bottom dm</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remaining_bottom_dm %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>remaining weight (gram)</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.remaining_weight_in_gram %></dd>
      </div>
    </div>
    
  </dl>
</div>
