<div class="museum_object_page museum_object_images">
  <h2>images</h2>
  <%= link_to "edit", wizard_path(:step_images_upload) %>
  <div class="row">
    <a href="<%= url_for(@museum_object&.main_image) %>" target="_blank">
      <%= image_tag @museum_object&.main_image.variant(resize: "250x250"), class: "img-thumbnail" %>
    </a>
  </div>
  <div class="row">
    <% @museum_object&.images.each do |image| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="<%= url_for(image) %>" target="_blank">
            <%= image_tag image.variant(resize: "250x250"), class: "img-thumbnail" %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
